@import 'tailwindcss';

@theme {
  --font-serif:
    EB Garamond, ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

  --color-text:       var(--color-stone-950);
  --color-bg:         var(--color-orange-100);
  --color-accent:     var(--color-orange-400);
  --color-darktext:   var(--color-bg);
  --color-darkbg:     var(--color-stone-900);
  --color-darkaccent: var(--color-accent);
}

/* basics */
body {
  @apply
    font-serif text-3xl
    text-text dark:text-darktext
    bg-bg dark:bg-darkbg;
}

.btn {
  font-variant: small-caps;
}

a, .btn {
  @apply
    underline decoration-2 hover:no-underline
    decoration-accent dark:decoration-darkaccent;
}

/* variant */
a.muted {
  @apply no-underline hover:opacity-70;
}

input, textarea {
  @apply bg-text/10 dark:bg-darktext/10;
}

/* on pages: normal weight when two columns, bold when stacked */
h1 {
  @apply text-4xl font-bold xl:font-normal;
}

/* on pages: italic when two columns and h1 is normal weight */
.subtitle {
  @apply font-normal text-left xl:italic;
}

/* reapply basics */
h2 {
  @apply text-4xl mt-8 mb-4
}

h3 {
  @apply italic mb-4 mt-6
}

/* reapply basics, justify if screen big enough */
p {
  @apply text-left md:text-justify mb-4;
  hyphens: auto;
}

/* reapply basics */
blockquote {
  @apply pl-4 border-l-4 mb-4 border-text dark:border-darktext;
}

ul:not(> #calendarList) {
  @apply ml-8 mb-4 list-disc;
}

ol:not(#calendarList) {
  @apply ml-8 mb-4 list-decimal;
}

/* TOC: extra space, no bullets, align to left, no link lines */
#TableOfContents {
  @apply mt-8
}

#TableOfContents ul {
  @apply list-none
}

#TableOfContents > ul {
  @apply ml-0
}

#TableOfContents a {
  @apply no-underline hover:opacity-70
  /* can I "@apply" a.muted? */
}

/* so heading in left and right column align */
article.page > :first-child {
  @apply mt-0
}

/*figure.gallery-item figcaption {
  @apply hidden absolute bg-white bottom-0
}

figure.gallery-item:hover figcaption {
  @apply block
}*/
