@import "tailwindcss";

@theme inline {
  --font-serif: var(--font-fraunces);

}

@theme {
  --color-text:       var(--color-neutral-950);
  --color-bg:         var(--color-neutral-50);
  --color-accent:     var(--color-text);
  --color-darktext:   var(--color-bg);
  --color-darkbg:     var(--color-neutral-900);
  --color-darkaccent: var(--color-darktext);
}

/* basics */
body {
  @apply
    font-serif font-light dark:font-extralight text-xl md:text-3xl
    text-text dark:text-darktext
    bg-bg dark:bg-darkbg;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.smallcaps {
  font-variant: small-caps;
}

a {
  @apply hover:opacity-70;
  .prose &:not(#list &), footer & {
    @apply underline decoration-dotted;
  };
}

/* button { */
  /* @apply hover:opacity-70; */
/* } */

article {
  h2 {
    @apply text-4xl mt-8 mb-4
  }

  h3 {
    @apply italic mb-4 mt-6
  }

  p {
    @apply text-left mb-4 text-pretty;
    font-variation-settings: "SOFT" 50, "WONK" 0;
  }

  /* reapply basics */
  blockquote {
    @apply pl-4 border-l-4 mb-4 border-text dark:border-darktext;
  }

  /* TOC: extra space, no bullets, align to left, no link lines */
  #TableOfContents {
    @apply mt-8
  }

  #TableOfContents ul {
    @apply list-none
  }

  #TableOfContents > ul {
    @apply ml-0
  }

  /* so heading in left and right column align */
  & .prose > :first-child {
    @apply mt-0!
  }

  img {
    @apply my-8
  }
}
