---
import Base from '@/components/Base.astro';

const title = "404 Page Not Found";
const message = "this page does not exist.";
---

<Base title={title} description={message}>
  <h1 style="text-align: center; font-size: 8rem; line-height: 8rem">404</h1>
  <p style="text-align: center; font-style: italic;">{message}</p>
</Base>
