{{ define "main" }}

<!-- <main class="container snap-y mx-auto px-4 py-24"> -->
<main class="snap-y snap-mandatory px-12 mx-auto container">
  {{ with .Params.hero }}
    <section id="hero" class="min-h-screen snap-center snap-always
      grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-4 items-start content-center"
    >
      <div class="hero-text">
        <h1 class="text-4xl font-bold normal-case mb-2">{{.title}}</h1>
        <p class="text-3xl">{{.subtitle}}</p>
      </div>
      <img
        id="hero-logo"
        class="max-w-xs"
        src="{{ .image | absURL }}"
        title="{{.copyright}}"
      >
    </section>
  {{ end }}

  <section id="info" class="min-h-screen text-3xl snap-always snap-center
    grid grid-cols-1 gap-x-4 gap-y-4 items-start content-center
    md:grid-cols-2 md:gap-y-24"
  >
    <h2 class="font-bold md:font-normal mt-0">about</h2>
    <div class="mb-8">
      <p class="inline mr-4">Anmari van der Westhuizen is Adjunct Professor and Head of the Odeion String Quartet at the University of the Free State, South Africa.</p>
      <a href="/about" class="btn">more</a>
    </div>

    <h2 class="font-bold md:font-normal mt-0">calendar</h2>
    <div id="calendarMessage" class="mb-8">
      {{ $defaultmessage := "No upcoming events for now. Check back soon for updates!" }}
      {{ $calendar := .Site.Data.calendar }}
      {{ if $calendar }}
        {{ $next := index (where $calendar "isodate" ">=" (now.Format "2006-01-02")) 0 }}
        {{ if $next }}
          <p class="inline mr-4">
            {{ $next.date }}: {{ $next.title }}.
          </p>
          <a href="/calendar" class="btn">more</a>
        {{ else }}
          <p class="inline mr-4">{{ $defaultmessage }}</p>
        {{ end }}
      {{ else }}
        <p class="inline mr-4">{{ $defaultmessage }}</p>
      {{ end }}
    </div>

    <h2 id="media" class="font-bold md:font-normal mt-0">media</h2>
    <div class="mb-8 flex gap-x-4 flex-wrap">
      <a href="/music" class="btn">music</a>
      <a href="/photos" class="btn">photos</a>
      <a href="/videos" class="btn">videos</a>
      <a href="/catalogue" class="btn">catalogue</a>
    </div>
  </section>

  <section id="contact" class="min-h-screen text-3xl snap-always snap-center
    grid grid-cols-1 gap-x-4 gap-y-4 items-start content-center
    md:grid-cols-2 md:gap-y-24"
  >
    <h2 class="font-bold md:font-normal mt-0">contact</h2>
    <form name="contact" method="POST" netlify class="">
      <div class="mb-4">
        <label>
          name
          <input class="w-full border-4 p-2" type="text" name="name" required>
        </label>
      </div>
      <div class="mb-4">
        <label>
          email
          <input class="w-full border-4 p-2" type="email" name="email" required>
        </label>
      </div>
      <div class="mb-4">
        <label>subject
          <input class="w-full border-4 p-2" type="text" name="subject" required>
        </label>
      </div>
      <div class="mb-4">
        <label>message
          <textarea class="w-full border-4 p-2 h-48" name="message"></textarea>
        </label>
      </div>
      <button class="btn mt-4" type="submit">send</button>
    </form>
  </section>

  {{ $script := resources.Get "js/calendar_nextup.js" | minify | fingerprint | resources.PostProcess }}
  <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>

</main>

{{ end }}
