{{ define "main" }}

<!-- <main class="container snap-y mx-auto px-4 py-24"> -->
<main class="snap-y snap-mandatory px-12 mx-auto container">
  {{ with .Params.hero }}
    <section id="hero" class="min-h-screen snap-center snap-always
      grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-4 items-start content-center"
    >
      <div class="hero-text">
        <h1 class="text-4xl font-bold mb-2">{{.title}}</h1>
        <p class="italic text-xl">{{.subtitle}}</p>
      </div>
      <img
        id="hero-logo"
        class="max-w-xs"
        src="{{ .image | absURL }}"
        title="{{.copyright}}"
      >
    </section>
  {{ end }}

  <section class="min-h-screen text-3xl snap-always snap-center
    grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-24 items-start content-center"
  >
    <h2>about</h2>
    <div>
      <p class="inline mr-4">Anmari van der Westhuizen is Adjunct Professor and Head of the Odeion String Quartet at the University of the Free State.</p>
      <a href="/about">more</a>
    </div>

    <h2>calendar</h2>
    <div>
      <p class="inline mr-4">16 June: solo at Odeion.</p>
      <a href="/calendar">more</a>
    </div>

    <h2>media</h2>
    <div class="flex gap-x-4">
      <a href="/calendar">music</a>
      <a href="/calendar">photos</a>
      <a href="/calendar">videos</a>
      <a href="/calendar">catalogue</a>
    </div>
  </section>

  <section id="contact" class="min-h-screen text-3xl snap-always snap-center
    grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-24 items-start content-center"
  >
    <h2>contact</h2>
    <form class="" action="{{ site.Params.contact_form_action | safeURL }}" method="POST">
      <div class="py-4">
        <label>name</label>
        <input class="w-full border-4" type="text" name="name" required>
      </div>
      <div class="py-4">
        <label>email</label>
        <input class="w-full border-4" type="email" name="email" required>
      </div>
      <div class="py-4">
        <label>subject</label>
        <input class="w-full border-4" type="text" name="subject" required>
      </div>
      <div class="py-4">
        <label>message</label>
        <textarea class="w-full border-4"></textarea>
      </div>
      <button class="btn py-4" type="submit">send</button>
    </form>
  </section>

</main>

{{ end }}
